# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Environment variables
.env
backend/.env
frontend/.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific
temp_scans/
yara_rules/
backend/test_engines.py
backend/err.txt
backend/temp_scans/
frontend/vite_error.log
